@import "tailwindcss";


#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url('./assets/samarkan_naqsh_wide.jpg');
  background-size: cover;
  background-position: center;
}

.hrgba {
  background-color: rgba(0, 0, 0, 0.83 );
}


a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .hrgba{
    background-color: rgba(0, 0, 0, 0.7 );    
  }
  
}

#footer {
  background-image: url('./assets/samarkan_naqsh_wide.jpg');
}

.bootstrap-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (mmax-width: 576px) {
  .bootstrap-container {
    max-width: 540px;
  }
}
/* etc */
